#divMenu{
    margin-top: 0px;
    margin-bottom: 75px;
    margin-right: 50px;
    margin-left: 5%;
    background:  transparent;
    width:100%;
    position: -webkit-sticky;
    position: sticky;
    top: 0;
    z-index: 2003;
}

.menu1
{
    width: auto;
    height: auto;
    margin: 0;
    margin-bottom: -2px;
    padding: 0 0 0 0;
    list-style: none;  
	/*-moz-box-shadow: 1px 1px 1px 1px #9c9c9c;
	-webkit-box-shadow: 1px 1px 1px 1px #9c9c9c;
	box-shadow: 1px 1px 1px 1px #9c9c9c;*/
   float: left;
    left:70px;
   background: transparent;
} 

.menu2
{
    width: auto;
    height: auto;
    margin: 0;
    margin-bottom: -2px;
    padding: 0 0 0 0;
    list-style: none;  
    -moz-box-shadow: 2px 2px 2px 2px #9c9c9c;
    -webkit-box-shadow: 2px 2px 2px 2px #9c9c9c;
    box-shadow: 2px 2px 2px 2px #9c9c9c;
   float: left;
   background: #558b2f;
   opacity: 0.9;
} 


.menu1 li
{
	float: left;
	padding: 0 0 0 0;
	position: relative;
	line-height: 0;
}

.menu2 li
{
	float: left;
	padding: 0 0 0 0;
	position: relative;
	line-height: 0;
}

.menu1 a 
{
	float: left;
	padding: 13.5px 20px;
	color: #558b2f;
	text-transform: uppercase;
	font: 1vw Arial;
	text-decoration: none;
	/*text-shadow: 0 1px 0 #000;*/
        /*font-style: normal;*/
}

.menu2 a 
{
	float: left;
	padding: 13.5px 20px;
	color: #fff;
	text-transform: uppercase;
	font: 1vw Arial;
	text-decoration: none;
	/*text-shadow: 0 1px 0 #000;*/
        /*font-style: normal;*/
}

.menu1 li:hover > a
{
    color: #fff;
    background: #558b2f;
}

.menu2 li:hover > a
{
    color: #558b2f;
    background: #fff;
}





*html #menu li a:hover /* IE6 */
{
	color: #fff;
        
        
        
}

#menu li:hover > ul
{
	display: block;
        
        /*-moz-border-radius: 5px;
	border-radius: 5px;*/
        
}

/* Sub-menu */

#menu ul
{
    list-style: none;
    margin: 0 0 0 0;
    padding: 0;    
    display: none;
    position: absolute;
    top: 100%;
    left: 0;
    z-index: 2003;    
    background: #558b2f;/* azul 424242 gris*/ 



  /*  -moz-box-shadow: 0 0 2px rgba(255,255,255,.5);
    -webkit-box-shadow: 0 0 2px rgba(255,255,255,.5);
    box-shadow: 0 0 2px rgba(255,255,255,.5);	*/
  /*  -moz-border-radius: 5px;
    border-radius: 5px;*/



	-moz-box-shadow: 1px 1px 1px 1px #9c9c9c;
	-webkit-box-shadow: 1px 1px 1px 1px #9c9c9c;
	box-shadow: 1px 1px 1px 1px #9c9c9c;



}

#menu ul ul
{
  top: 0;
  left: 100%;
}

#menu ul li
{
    float: none;
    margin: 0;
    padding: 0;
    display: block;  
/*    -moz-box-shadow: 0 1px 0 #000066, 0 2px 0 #003366 ;
    -webkit-box-shadow: 0 1px 0 #000066, 0 2px 0 #003366 ;
    box-shadow: 0 1px 0 #000066, 0 2px 0 #003366 ;*/
}

#menu ul li:last-child
{   
    -moz-box-shadow: none;
    -webkit-box-shadow: none;
    box-shadow: none;    
}

#menu ul a
{    
    padding: 7.5px;
    padding-top: 15px;
    padding-bottom: 15px;
	/*height: 10px;*/
	/*width: 300px;*/
  min-width: 150px;
        width: auto;
	height: auto;
    line-height: 1;
    display: block;
    white-space: nowrap;
    float: none;
	text-transform: none;
    font-size:1vw;
color:#f0f0f0;
}

*html #menu ul a /* IE6 */
{    
	height: 5px;
}

*:first-child+html #menu ul a /* IE7 */
{    
	height: 5px;
}

#menu ul a:hover
{
    background: #424242;/*gris*/
    background: #e5e7e9  ;
    color: #558b2f ;

}

#menu ul li:first-child > a
{
    /*-moz-border-radius: 5px 5px 0 0;
    border-radius: 5px 5px 0 0;*/
}

#menu ul li:first-child > a:after
{
    content: '';
    position: absolute;
    left: 30px;
    top: -8px;
    width: 0;
    height: 0;
    /*border-left: 5px solid transparent;
    border-right: 5px solid transparent;
    border-bottom: 8px solid transparent ;*/
}

#menu ul ul li:first-child a:after
{
    left: -8px;
    top: 12px;
    width: 0;
    height: 0;
    border-left: 0;	
    /*border-bottom: 5px solid transparent;
    border-top: 5px solid transparent;
    border-right: 8px solid transparent ; /*kghjygkjgfkhjgfjk*/
}

#menu ul li:first-child a:hover:after
{
        border-bottom: 8px solid transparent ;
}

#menu ul ul li:first-child a:hover:after
{
/*    border-right-color: transparent ; 
    border-bottom-color: transparent; 	*/
}


#menu ul li:last-child > a
{
/*    -moz-border-radius: 0 0 5px 5px;
    border-radius: 0 0 5px 5px;*/
}

/* Clear floated elements */
#menu:after 
{
	visibility: hidden;
	display: block;
	font-size: 0;
	content: " ";
	clear: both;
	height: 0;
}

* html #menu             { zoom: 1; } /* IE6 */
*:first-child+html #menu { zoom: 1; } /* IE7 */

.ahome1 {
    background-image:url("../img/home.png");
    background-repeat:no-repeat;
    opacity: 0.9;
    height: 42.5px;
    width: 42.5px;
    background-size:100%;
    border:none;
    cursor:pointer;
}

.ahome1:hover { background-image:url("../img/home_hover.png"); }

.ahome2 {
    background-image:url("../img/home_hover.png");
    background-repeat:no-repeat;
    opacity: 0.8;
    height: 42.5px;
    width: 42.5px;
    background-size:100%;
    border:none;
    cursor:pointer;
    -moz-box-shadow: 2px 2px 2px 2px #9c9c9c;
    -webkit-box-shadow: 2px 2px 2px 2px #9c9c9c;
    box-shadow: 2px 2px 2px 2px #9c9c9c;
}

.ahome2:hover { background-image:url("../img/home.png"); }

.aexit1 {
    background-image:url("../img/exit.png");
    background-repeat:no-repeat;
    opacity: 0.9;
    height: 42.5px;
    width: 42.5px;
    background-size:100%;
    border:none;
    cursor:pointer;
}

.aexit1:hover { background-image:url("../img/exit_hover.png"); }

.aexit2 {
    background-image:url("../img/exit_hover.png");
    background-repeat:no-repeat;
    opacity: 0.9;
    height: 42.5px;
    width: 42.5px;
    background-size:100%;
    border:none;
    cursor:pointer;
    -moz-box-shadow: 2px 2px 2px 2px #9c9c9c;
    -webkit-box-shadow: 2px 2px 2px 2px #9c9c9c;
    box-shadow: 2px 2px 2px 2px #9c9c9c;
}

.aexit2:hover { background-image:url("../img/exit.png"); }

