.ventana_modal_pdf {
    position: fixed;
    padding: 16px;
    background: #fff;
    color: #333;
    z-index: 2002;
    overflow: auto;
    border: 5px solid;
    border-color: gray;
    border-radius: 10px;
    left: 3%;
    top: 5%;
    width: 91%;
    height: 85%;
}

.fondo_opaco_pdf {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: #2E2E2E;
    z-index: 2001;
    opacity:.75;
    -moz-opacity: 0.75;
    filter: alpha(opacity=75);
}

.objeto {
    left: 5%;
    top: 5%;
    width: 100%;
    height: 100%;
}

.imgClose {
    float: right;
    margin: 0.5% 0.5% 0 0;
    cursor: pointer;
}
