<!-- BEGIN: main -->
<table class="mainTable">
    <thead class="tHeader">
	<th class='tHeaderDes'>Arancel de Aduanas de Venezuela</th>	
	<th class='tHeaderX' title="Cerrar" onclick="closePickList();">X</th>        
    </thead>	
</table> 
<div id="id_div_arancel_seccion">                    
        <table id="id_arancel_seccion"  width="100%" border=0 class='tablaNivel0'> 
                <!--thead><th class='pickListHeaderNow'>Arancel de Aduanas de Venezuela</th></thead-->	

                <tbody title="Seleccione...">
                    <!-- BEGIN: nivel_0 --> 
		    <tr>
			<td>
			    <div id="{NIVEL_0_ID}" 
			 	onclick="llenarNivel(1,this);">
				<table>
					<tr>
						<!--td width='60px' align='center'>{NIVEL_0_COD}</td-->
						<td width='60px' align='center' style='font-size:100%; font-weight: bold;font-style:italic;'>*</td>
						<td>{NIVEL_O_DES}</td>
						<td style='color:#F2F2F2'>{NIVEL_O_TITULO}</td>
						<td style='color:#F2F2F2'>{NIVEL_O_CODPRO}</td>
					</tr>
				</table>
			    </div>
			</td>
		    </tr>
                    <!-- END: nivel_0 -->
                </tbody>
            </table>
        </div>    
<input class="data"  type="hidden" name="abc" id="abc"  value="">
<!-- END: main -->
